/* reusable UI components (cads, buttons, inputs */

.button-L-colored{
  width: 100%;
  margin: 25px auto;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2px;
  color: #090c11;
  background-color: #e99856;
  text-align: center;
  padding: 15px;
}

.button-L-dark{
  width: 100%;
  margin: 25px auto;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2px;
  background-color: #090c11;
  color: #e99856;
  text-align: center;
  padding: 15px;
}

.button-M-colored{
  width: 40%;
  margin: 20px auto;
  font-size: 12px;
  font-weight: 500;
  background-color: #e99856;
  color: #090c11;
  text-align: center;
  padding: 10px 15px;
}

.button-M-dark{
  width: 40%;
  margin: 20px auto;
  font-size: 12px;
  font-weight: 500;
  background-color: #090c11;
  color: #e99856;
  text-align: center;
  padding: 10px 15px;
}

.square-btn-M-colored{
  width: 45%;
  font-size: 12px;
  font-weight: 500;
  background-color: #e99856;
  color: #090c11;
  text-align: center;
  padding: 15px 20px;
}

.square-btn-M-dark{
  width: 45%;
  font-size: 12px;
  font-weight: 500;
  background-color: #090c11;
  color: #e99856;
  text-align: center;
  padding: 15px 20px;
}

.button-edge-round{
  border-radius: 35px;
  border: none;
  cursor: pointer;
}
.button-edge-square{
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.clickable-icons{
  width: 28px;
  height: 28px;
  cursor: pointer;
}

.text-XXS{
  font-size: 10px;
}
.text-XS{
  font-size: 12px;
  font-weight: normal;
}

.text-S{
  font-size: 14px;
  font-weight: normal;
}

.text-M{
  font-size: 16px;
  font-weight: normal;
}
.text-L{
  font-size: 24px;
}
.text-XL{
  width: 100%;
  text-align: center;
  font-size: 34px;
  font-weight: 500;
  color: white;
}

.text-XXL{
  font-size: 38px;
  font-weight: normal;
}

.bold-600{
  font-weight: 600;
}

.caption{
  font-size: 12px;
  font-weight: 300;
  color: rgb(151, 151, 151);
  padding-bottom: 5px;
}

.caption-2{
  font-size: 12px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.507);
  padding-bottom: 5px;
}

.show-more-link{
  font-size: 12px;
  font-weight: 300;
  color: rgb(151, 151, 151); 
  text-align: right; 
  margin: 10px 5px;
  display: none;
}


.notification-container{
  position: absolute;
  top: 20px;
  left: 50%;
  width: 90%;
  max-width: 90%;
  min-height: 50px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notifiation-content{
  font-size: 14px;
  font-weight: 400;
}

.sub-pages-add-btn{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.graph-background{
  background-color: #dfe2e1;
  filter: blur(20%);
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 15px;
  margin-top: 10px;
}

.pop-up-confirm-contr{
  width: 80%;
  max-width: 400px;
  min-height: 150px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 25px 10px;
  opacity: 0;
  pointer-events: none;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.action-btns{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.confirm-text{
  font-size: 14px;
  margin: 25px auto;
  font-weight: 600;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 99;
}