/* Z index stack */

.app-container{
  z-index: 1;
}

.bottom-nav-container{
  z-index: 3;
}

.side-bar{
  z-index: 6;
}

.sub-contents-wrapper{
  z-index: 5;
}

.top-nav-container{
  z-index: 6;
}

.card{
  z-index: 2;
}

.inc-exp-icon > img{
  z-index: 2;
}

.inc-exp-display{
  z-index: 2;
}

.card-background{
  z-index: -1;
}

/* .add-trasaction-div{
  z-index: 10;
} */

#income-option, #expense-option{
  z-index: 3;
}

.f-o-backgr-toggle{
  z-index: 1;
}

.notification-container{
  z-index: 1;
}

.sub-pages-dd-btn{
  z-index: 10;
}

.launch-page-wrapper{
  z-index: 9999;
}

.auth-forms-wrapper{
  z-index: 10;
}