


.add-trans-icon{
  width: 60px;
  height: 60px;

}

.sub-pages-add-btn{
  width: 60px;
  position: fixed;
  bottom: 15px;
}

.expenditure-wrapper, .income-wrapper{
  width: 100%;
  height: 100%;
  /* padding: 10px; */
  margin: 20px 0 0 0;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  border-radius: 35px 35px 0 0;
  box-shadow: -2px -2px 10px rgba(128, 128, 128, 0.374);
  padding: 10px;

}

.income-wrapper{
  display: flex;
}

.expenditure-wrapper{
  display: none;
}

.input-error {
  border: 1px solid red !important;
}

.form-container{
  width: 100%;
  height: 100%;
  position: relative;
}

.transaction-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 35px 20px 20px 20px;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
}

.investment-group, .crypto-options-group, .crypto-units-div, .loan-options-group{
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}


.form-options-container{
  border: 4px solid rgb(161, 161, 161);
  width: 90%;
  height: 45px;
  border-radius: 7px;
  overflow: hidden;
  padding: 0;
  margin: 0 auto;
  display: flex;
  gap: 0;
  background-color: rgb(161, 161, 161);
  position: relative;
  font-size: 12px;
}

#income-option, #expense-option, .f-o-backgr-toggle{
  width: 50%;
  height: 100%;
}

.f-o-backgr-toggle{
  border-radius: 7px;
}

.form-opt-title{
  font-weight: 500;
  color: white;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-o-backgr-toggle{
  position: absolute;
  top: 0;
  left: 0;
  background: #0e1424;
}

.f-o-backgr-toggle.active{
  background: #76220b;
}



/* #add-income-form{
  background-color: rgb(255, 153, 0);
  display: flex;
}
#add-expenditure-form{
  background-color: yellow;
  display: none;
} */

.transaction-form label, .investment-group label, .crypto-units-div label {
  font-size: 14px;
  font-weight: 500;
  color: #090c11;
}

.transaction-form input,
.transaction-form select, .investment-group input, .investment-group select, .crypto-units-div input{
  padding: 15px 12px;
  font-size: 16px;
  border: none;
  box-shadow: 0 2px 5px rgba(128, 128, 128, 0.082);
  border-radius: 8px;
  background-color: rgba(201, 199, 199, 0.292);
  filter: blur(20%);
  transition: border 0.2s;
  margin-bottom: 15px;
}


.form-fieldset {
  display: grid;
  /* display: none; */
  grid-template-columns: auto 1fr; /* checkbox, then label */
  gap: 0.5rem 1rem; /* row gap, column gap */
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 1rem;
  background-color: rgba(201, 199, 199, 0.292);
  filter: blur(20%); 
  width: 100%;
}

.form-fieldset legend {
  font-weight: bold;
  margin-bottom: 0.5rem; 
}

.form-fieldset input[type="checkbox"] {
  margin: 0; /* remove default extra margin */
}


.transaction-form input:focus,
.transaction-form select:focus, .investment-group input:focus, .investment-group select:focus, .crypto-units-div input:focus {
  border: 1px solid #59585a;
  outline: none;
}

.toggle-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 16px 0;
}

.toggle-label {
  font-size: 16px;
}

.toggle-wrapper {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
  cursor: pointer;
}

.toggle-wrapper input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-switch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 24px;
}

.toggle-switch::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  left: 2px;
  top: 2px;
  background-color: white;
  border-radius: 50%;
}

.toggle-wrapper input:checked + .toggle-switch {
  background-color: #7b57ff;
}

#inc-frequency-group, #exp-frequency-group, #budget-frequency-group{
  width: 100%;
  display: none;
  flex-direction: column;
}

#recurring-exp-frequency, #recurring-inc-frequency, #recurring-budget-frequency{
  width: 100%;
}

.amount-income {
  color: green !important;
  font-weight: bold;
}

.amount-expense {
  color: red !important;
  font-weight: bold;
}