/* 

#auth-page{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 25px;
  z-index: 30;
  background-color: white;
}

.app-name{
  text-align: center;
  width: 100%;
  margin-bottom: 25px;
} */

/* Hide signup form initially */
/* .hidden {
  display: none;
} */

/* Tabs */
/* .auth-tabs {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.auth-tab {
  padding: 0.5rem 1rem;
  border: none;
  background: transparent;
  cursor: pointer;
  font-weight: 600;
  opacity: 0.6;
}

.auth-tab.active {
  opacity: 1;
  border-bottom: 2px solid currentColor;
}

.auth-form {
  flex-direction: column;
  gap: 10px;
  background-color: rgb(255, 255, 255);
}

#form-login.active{
  display: flex;
}
#form-signup.active{
  display: flex;
}

.auth-form input{
  padding: 15px;
  font-size: 16px;
  background-color: rgba(201, 199, 199, 0.192);
  filter: blur(20%);
  border-radius: 5px;  
}

.auth-form button{
  padding: 15px;
  margin-top: 15px;
  font-size: 16px;
  border-radius: 40px;
  background-color: rgb(94, 94, 241);
  border: none;
} */