

.stats-page-wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.budget-page-wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: none;
  padding: 15px;
}